#appliances{
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(40,126,228,1) 100%);
}
#experience{
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(40,126,228,1) 100%);
}
#reviews{
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(40,126,228,1) 100%);
}
#cleaning{
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(40,126,228,1) 100%);
}
.footer{
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(40,126,228,1) 100%);
}
.Salon {
	position: relative;
}
.Salon figure::before {
	position: absolute;
	top: 40%;
	left: 50%;
	z-index: 1;
	display: inside;
	content: '';
	width: 0;
	height: 0;
	background: rgba(48, 34, 43, 0.123);
	border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}
.Salon figure:hover::before {
	-webkit-animation: circle .75s;
	animation: circle .75s;
}
@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 50%;
		height: 50%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 0%;
		height: 50%;
		opacity: 0;
	}
}
.hover {
	position: relative;
}
.hover figure::before {
	position: absolute;
	top: 40%;
	left: 50%;
	z-index: 1;
	display: inside;
	content: '';
	width: 0;
	height: 0;
	background: rgba(235, 146, 203, 0.2);
	border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}
.hover figure:hover::before {
	-webkit-animation: circle .75s;
	animation: circle .75s;
}
@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 50%;
		height: 50%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 0%;
		height: 50%;
		opacity: 0;
	}
}
.hover3 {
	position: relative;
}
.hover3 figure::before {
	position: absolute;
	top: 40%;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background: rgba(235, 146, 203, 0.2);
	border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}
.hover3 figure:hover::before {
	-webkit-animation: circle .75s;
	animation: circle .75s;
}
@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 100%;
		height: 100%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 100%;
		height: 100%;
		opacity: 0;
	}
}
.review1{
    -webkit-animation:shake 4s ease 0s infinite normal;
    -moz-animation:shake 4s ease 0s infinite normal;
    -ms-animation:shake 4s ease 0s infinite normal;
    animation:shake 4s ease 0s infinite normal;
    }
    
    @-webkit-keyframes shake {
    0%{ transform: rotate(-15deg); -webkit-transform: rotate(-15deg); }
    2%{ transform: rotate(15deg); -webkit-transform: rotate(15deg); }
    4%{ transform: rotate(-18deg); -webkit-transform: rotate(-18deg); }
    6%{ transform: rotate(18deg); -webkit-transform: rotate(18deg); }
    8%{ transform: rotate(-22deg); -webkit-transform: rotate(-22deg); }
    10%{ transform: rotate(22deg); -webkit-transform: rotate(22deg); }
    12%{ transform: rotate(-18deg); -webkit-transform: rotate(-18deg); }
    14%{ transform: rotate(18deg); -webkit-transform: rotate(18deg); }
    16%{ transform: rotate(-12deg); -webkit-transform: rotate(-12deg); }
    18%{ transform: rotate(-12deg); -webkit-transform: rotate(-12deg); }
    20%{ transform: rotate(0deg); -webkit-transform: rotate(0deg); }
    }
    
    @keyframes shake {
    0%{ transform: rotate(-15deg); -ms-transform: rotate(-15deg); }
    2%{ transform: rotate(15deg); -ms-transform: rotate(15deg); }
    4%{ transform: rotate(-18deg); -ms-transform: rotate(-18deg); }
    6%{ transform: rotate(18deg); -ms-transform: rotate(18deg); }
    8%{ transform: rotate(-22deg); -ms-transform: rotate(-22deg); }
    10%{ transform: rotate(22deg); -ms-transform: rotate(22deg); }
    12%{ transform: rotate(-18deg); -ms-transform: rotate(-18deg); }
    14%{ transform: rotate(18deg); -ms-transform: rotate(-18deg); }
    16%{ transform: rotate(-12deg); -ms-transform: rotate(-12deg); }
    18%{ transform: rotate(-12deg); -ms-transform: rotate(-12deg); }
    20%{ transform: rotate(0deg); -ms-transform: rotate(0deg); }
    }
    .review2{
        -webkit-animation:alert 2s linear 0s infinite normal;
        -moz-animation:alert 2s linear 0s infinite normal;
        -ms-animation:alert 2s linear 0s infinite normal;
        animation:alert 2s linear 0s infinite normal;
        }
        
        @-webkit-keyframes alert {
        0%{ -webkit-transform: translateX(0); transform: translateX(0); }
        5%{ -webkit-transform: translateX(-10px); transform: translateX(-10px); }
        10%{ -webkit-transform: translateX(10px); transform: translateX(10px); }
        15%{ -webkit-transform: translateX(-10px); transform: translateX(-10px); }
        20%{ -webkit-transform: translateX(10px); transform: translateX(10px); }
        25%{ -webkit-transform: translateX(-10px); transform: translateX(-10px); }
        30%{ -webkit-transform: translateX(10px); transform: translateX(10px); }
        35%{ -webkit-transform: translateX(-10px); transform: translateX(-10px); }
        40%{ -webkit-transform: translateX(10px); transform: translateX(10px); }
        45%{ -webkit-transform: translateX(-10px); transform: translateX(-10px); }
        50%{ -webkit-transform: translateX(0); transform: translateX(0); }
        }
        
        @keyframes alert {
        0%{ -ms-transform: translateX(0); transform: translateX(0); }
        5%{ -ms-transform: translateX(-10px); transform: translateX(-10px); }
        10%{ -ms-transform: translateX(10px); transform: translateX(10px); }
        15%{ -ms-transform: translateX(-10px); transform: translateX(-10px); }
        20%{ -ms-transform: translateX(10px); transform: translateX(10px); }
        25%{ -ms-transform: translateX(-10px); transform: translateX(-10px); }
        30%{ -ms-transform: translateX(10px); transform: translateX(10px); }
        35%{ -ms-transform: translateX(-10px); transform: translateX(-10px); }
        40%{ -ms-transform: translateX(10px); transform: translateX(10px); }
        45%{ -ms-transform: translateX(-10px); transform: translateX(-10px); }
        50%{ -ms-transform: translateX(0); transform: translateX(0); }
        }
        .review3{
            

border:20px outset #5b7b80;
border-width:20px;
border-style:outset;
border-color:#5b7b80;
        }
        .review4{
            
            -webkit-box-shadow:50px 45px 25px 0px #b188cd ;
            -moz-box-shadow:50px 45px 25px 0px #b188cd ;
            box-shadow:50px 45px 25px 0px #b188cd ;
            
        }
       